<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    pagina de editar

    {{pessoa}} - {{pessoa.sobrenome}}

    <form action="{% url 'update' pessoa.id %} "method="POST">
        {% csrf_token %}
        <input type="text" name="nome" value="{{pessoa.nome}}">
        <input type="text" name="sobrenome" value="{{pessoa.sobrenome}}">
        <input type="text" name="data" value="{{pessoa.data}}">
        <input type="text" name="mail" value="{{pessoa.mail}}">
        <button type="submit">Update</button>
    </form>

</body>
</html>